* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #faf4f2;
}

.clearfix {
    clear: both;
}

.header {
    /* HEX : #rrggbb 0 ==> f */
    background-color: #f8e1db;
    padding: 10px 30px;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; */
}

.header .logo img {
    width: 60px;
}

.header .navbar a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    margin-right: 30px;
}

.header .navbar a:hover {
    color: #e76f51;
}

/* Carousel */
.carousel {
    background-image: url(../img/BG.png);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Activity */
.activity {
    padding: 80px 0;
}

.activity .title {
    text-align: center;
    margin-bottom: 30px;
}

.activity .title h2 {
    color: #8d8d8d;
    font-size: 40px;
}

/* float */
.activity .main .row .col {
    float: left;
    width: 25%;
    padding: 0 15px;
}

.activity .main .item {
    background-color: #fff;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.activity .main .item .thumbnail {
    position: relative;
}

.activity .main .item .thumbnail img {
    width: 100%;
    border-radius: 30px;
}

.activity .main .item .thumbnail i {
    color: rgb(231, 111, 81, 0.8);
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    /* padding: 20px; */
    width: 45px;
    height: 45px;
    border-radius: 16px;
    line-height: 45px;
    /* opacity: 0.5; */
}

.activity .main .item h1 {
    font-size: 20px;
    margin-top: 15px;
}

.activity .main .item p {
    font-size: 17px;
    color: #8d8d8d;
    margin-top: 15px;
    line-height: 30px;
}

.activity .main .item a {
    background-color: #e8e8e8;
    padding: 10px 40px;
    /* width: 170px;
    height: 50px; */
    display: inline-block;
    color: #8d8d8d;
    text-decoration: none;
    border-radius: 200px;
    margin-top: 15px;
}

.activity .main .btn {
    text-align: center;
}

.activity .main .btn button {
    outline: none;
    border: 1px solid #e76f51;
    background-color: transparent;
    padding: 10px 50px;
    border-radius: 200px;
    color: #e76f51;
    cursor: pointer;
    
}

/* Contact */
.contact {
    background-color: #f8e1db;
    height: 350px;
    margin-bottom: 100px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.contact .row .col {
    float: left;
    width: 50%;
}

.contact .contact__img {
    background-image: url(../img/mask.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact .contact__img img {
    margin-left: 50px;
}

.contact .contact__info {
    padding: 60px 60px 0;
    color: #8d8d8d;
}

.contact .contact__info h2 {
    margin-bottom: 10px;
    font-size: 26px;
}

.contact .contact__info p {
    font-size: 14px;
    margin-bottom: 25px;
}

.contact .contact__info h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.contact .contact__info a {
    text-decoration: none;
}

.contact .contact__info img {
    float: left;
    width: 50%;
}

.contact .contact__info .contact__follow-link {
    display: inline-block;
    margin-right: 8px;
}

.contact .contact__info i {
    font-size: 24px;
    color: #e76f51;
}

/* Footer */
.footer {
    background-color: #f8e1db;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    color: #333;
    padding: 100px 40px 60px;
}

.footer .row .col {
    float: left;
}

.footer .footer__about {
    width: 40%;
}

.footer .footer__about p {
    line-height: 25px;
    font-size: 15px;
}

.footer .footer__list {
    width: 60%;
    padding-left: 35px;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer .footer__nav {
    float: left;
    width: 33.33333%;
}

.footer .footer__nav ul {
    list-style: none;
}

.footer .footer__nav li {
    margin-bottom: 10px;
}

.footer .footer__nav a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
}

.footer .footer__nav a:hover {
    color: #e76f51;
}

.footer .footer__copyright {
    text-align: center;
    margin-top: 35px;
    font-size: 15px;
}